<% provide(:title, "Edit server") %>
<h1>Update your server information</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@server) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :gender %>
      <%= f.text_field :gender %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>