<% provide(:title, 'All servers') %>
<h1>All servers</h1>

<%= will_paginate %>

<ul class="servers">
  <% @servers.each do |server| %>
    <li>
      <%= link_to server.name, server %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>