<%= render 'shared/error_messages', object: f.object %>
			
<%= f.label :username %>
<%= f.text_field :username, class: "form-control", placeholder: "Username"%>

<%= f.label :password %>
<%= f.password_field :password, class: "form-control", placeholder: "Password" %>

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>

<%= f.label :first_name %>
<%= f.text_field :first_name, class: "form-control", placeholder: "First name"%>

<%= f.label :last_name %>
<%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>

<%= f.label :email %>
<%= f.text_field :email, class: "form-control", placeholder: "Email" %>

<%= f.label :cover_photo%>	
<%= f.file_field :cover_photo %> <br>