<% provide(:title, "Edit user") %>
<div class="container">
	<h2 class="text-primary">Update your profile</h2>
	<div class="col-lg-6">
		<div class="form-group" id="user-info-form">
			<%= form_for(@user) do |f| %>
			<%= render 'fields', f: f %>
		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
		</div>	
	</div>
</div>