<% provide(:title, 'All users') %>
<div class="row">

<div class="col-lg-8 col-lg-offset-1">
  <h1>All users</h1>
  <table class="table table-hover">
    <tr>
      <th></th>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      
      <td>
        <%= link_to(user) do %> 
          <%= image_tag(user.profile_picture.url(:thumb), :class => "img-thumbnail", :alt => "#{user.username} image") %>
        <% end %>
      </td>
      <td><%= link_to user.username, user%></td>
      <td><%= link_to user.first_name, user%></td>
      <td><%= link_to user.last_name, user%></td>
      <td><%= mail_to user.email %></td>                  
    </tr>
  <% end %>
  </table>
  </div>
</div>

<%= will_paginate%>

