<% provide(:title, 'Sign up') %>
<div class="container">
	<h2 class="text-primary">Sign up</h2>
	<div class="col-lg-6">
		<div class="form-group" id="user-info-form">
			<%= form_for(@user) do |f| %>
			<%= render 'fields', f: f %>
		<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
		</div>	
	</div>
</div>