<% provide(:title, @user.username) %>
<div class="row"> 
	<div class="col-lg-6"> 
		<%= image_tag(@user.profile_picture.url, :class => "img-responsive", :alt => "#{@user.username} image", :id => "restaurant-show-image") %>
	</div>

	<div class="col-lg-6">
		<h1 class="profile-heading"> <%= @user.first_name %> <%= @user.last_name %></h1> 
		<h4> 
      <%= @user.username %> 
      <p class="text-muted pull-right"><%= link_to("Edit user", edit_user_path(@user)) %> </p>
    </h4> 
		<h5> <%= @user.email %> </h5>

		<table class="table table-hover">
          <thead>
            <h2> Top waiters </h2>
          </thead>
          <tbody>
            <tr>
              <td> 1 </td>
              <td> David </td>
            </tr>
            <tr>
              <td> 2 </td>
              <td> Jansen </td>
            </tr>
            <tr>
              <td> 3 </td>
              <td> Lauren </td>
            </tr>
        </table>
	</div>
</div>
