<% provide(:title, 'All restaurants') %>
<div class="row">

  <div class="col-lg-6 col-lg-offset-2">
    <h1>All restaurants</h1>
    <table class="table table-hover">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Rating</th>
      </tr>

    <% @restaurants.each do |restaurant| %>
      <tr>
        <td>
          <%= link_to(restaurant) do %> 
            <%= image_tag(restaurant.cover_photo.url(:thumb), :class => "img-thumbnail", :alt => "#{restaurant.name} image") %>
          <% end %>
          </td>
        <td><%= link_to restaurant.name, restaurant%></td>
        <td><%= restaurant.rating %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-lg-1 col-lg-offset-1">
    <%= link_to(new_restaurant_path) do %>
      <button type="button" class="btn btn-danger">New restaurant?</button>
    <% end %>
  </div>
</div>


<%= will_paginate%>

