<% provide(:title, 'Create new restaurant') %>
<div class="container">
	<h2 class="text-primary">Enter a new restaurant</h2>
	<div class="col-lg-6">
		<div class="form-group">
			<%= form_for(@restaurant) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control", placeholder: "Restaurant name"%>

			<%= f.label :phone %>
			<%= f.telephone_field :phone, class: "form-control", placeholder: "Restaurant phone number" %>

			<%= f.label :street_address %>
			<%= f.text_field :street_address, class: "form-control", placeholder: "Restaurant address" %>

			<%= f.label :city %>
			<%= f.text_field :city, class: "form-control", placeholder: "Restaurant city" %>

			<%= f.label :state %>
			<%= f.text_field :state, class: "form-control", placeholder: "Restaurant state" %>

			<%= f.label :category %>
			<%= f.text_field :category, class: "form-control", placeholder: "Restaurant category" %>

			<%= f.label :rating %>
			<%= f.text_field :rating, class: "form-control", placeholder: "Restaurant rating" %>
			
			<%= f.label :cover_photo %>	
  			<%= f.file_field :cover_photo %> <br>
		
		<%= f.submit "Create", class: "btn btn-large btn-primary" %>
		<% end %>
		</div>	
	</div>
</div>