<% provide(:title, "#{@restaurant.name}") %>
<div class="row"> 
	<div class="col-lg-6"> 
		<%= image_tag(@restaurant.cover_photo.url, :class => "img-responsive", :alt => "#{@restaurant.name} image", :id => "restaurant-show-image") %>
	</div>

	<div class="col-lg-6">
		<div class="pull-right">
      <%= link_to(new_restaurant_path) do %>
        <button type="button" class="btn btn-danger">New restaurant?</button>
      <% end %>
    </div>
    
    <h1 class="profile-heading"> 
      <%= @restaurant.name %> 
      <div class="col-lg-offset-4 rating-bubble"> <%= @restaurant.rating %></div>
    </h1> 
		
    <h4> 
      <%= @restaurant.category %> 
      <p class="text-muted pull-right"><%= link_to("Edit restaurant info", edit_restaurant_path(@restaurant)) %> </p>
    </h4> 
		
    <h5> 
			<%= @restaurant.street_address %> <br>
			<%= @restaurant.city %>, <%= @restaurant.state %> </br>
			<%= @restaurant.phone %>
		</h5>

		<table class="table table-hover">
          <thead>
            <h2> Top waiters </h2>
          </thead>
          <tbody>
            <tr>
              <td> 1 </td>
              <td> David </td>
            </tr>
            <tr>
              <td> 2 </td>
              <td> Jansen </td>
            </tr>
            <tr>
              <td> 3 </td>
              <td> Lauren </td>
            </tr>
        </table>
	</div>

  

</div>
