/* Welcome page basic styling */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Sign-in Form on nav bar*/

#sign-in-form {
  margin-top: 5px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 15px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

#search-button {
	color: white;
	display: inherit;
	margin-top: 2px;
	width: 100%;
}

.rating-bubble {
	background-color: #4e0f8f;
	border-radius: 100%;
	width: 1.2em;
	height: 1.2em;
	vertical-align: middle;
	color: white;
	text-align: center;
	display: inline-block;
	margin-bottom: 2px;
}

.profile-heading {
	border-bottom: 1px solid #c0c0c0;	
}

#restaurant-show-image {
	max-width: 100%;
	max-height: 100%;
}

/*#restaurant-thumbnail {
	max-width: 20%;
	height: auto;
}
*/

#splash-image {
	opacity: 0.9;
}

/* Since positioning the image, we need to help out the caption */
#splash-caption {
  	position:absolute;
	left:33%;
	top:45%;
  	z-index: 10;
  	color: white;
  	text-align: center;
}

.top-lists {
	background-color: white;
	margin-top: 1px;
}

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid gray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Servers index */

.servers {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid black;
    &:last-child {
      border-bottom: 1px solid black;
    }
  }
}

.pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }

.pagination a, .pagination span {
    padding: 0.2em 0.3em; }
.pagination .disabled {
    color: #aaaaaa; }
.pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.pagination a {
    text-decoration: none;
    color: black; }
.pagination a:hover, .pagination a:focus {
      text-decoration: underline; }
