      <!-- FOOTER -->
    <div id="footer">
      <div class="container">
        <p class="pull-right text-muted credit">
          <a href="#top">Back to top</a>
        </p>
        <p class="text-muted credit">&copy; 2013 TBD Ventures &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </div>
    </div>