<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to("TBD Ventures", root_path, class: "navbar-brand") %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><%= link_to("Restaurants", restaurants_path) %> </li>
            <li><li><%= link_to("Users", users_path) %> </li></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- FORM NEEDS TO BE FIXED TO BE RAILS -->
            <form class="form-inline" role="form" id="sign-in-form">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                </div>
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
              </div>
              <!-- <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
               --><button type="submit" class="btn btn-default">Sign in</button>
            </form>
            <small>New to TBD? <strong><%=link_to("Join today &raquo;".html_safe, new_user_path) %></strong></small> </a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>