<a name="top"> </a>
<!-- SPLASH IMAGE & SEARCH BUTTON --> 
<div class="container"> 
  <%= image_tag("restaurant_img_cropped_medium.jpg", :class => "img-responsive", :alt => "Background image", :id => "splash-image") %>
   <form>
    <div class="col-lg-4" id="splash-caption"> 
      <input type="search" class="form-control input-lg" placeholder="Where are you right now?">
      <%= link_to(restaurants_path) do %>
      <button type="button" id="search-button" class="btn btn-primary btn-lg"> Show me what you got</button>
      <% end %>
    </div>
  </form>
</div>

<!-- TOP ENTITIES LIST -->
<a name="top-lists"></a>
<div class="container"> 
    <div class="row"> 
      <div class="col-lg-5 top-lists">
        <table class="table table-hover">
          <thead>
            <h2 class="text-primary text-center"> Top Entities </h2>
          </thead>
          <tbody>
             <% @restaurants.each do |restaurant| %>
          <tr>
            <td><%= image_tag(restaurant.cover_photo.url(:thumb), :class => "img-thumbnail", :alt => "#{restaurant.name} image") %></td>
            <td><%= link_to restaurant.name, restaurant%></td>
            <td><%= restaurant.rating %></td>
          </tr>
            <% end %>
           </tbody>
        </table>
      </div>


      <div class="col-lg-5 col-lg-offset-2 top-lists">
        <table class="table table-hover">
          <thead>
            <h2 class="text-primary text-center"> Top waiters </h2>
          </thead>
          <tbody>
            <tr>
              <td> 1 </td>
              <td> David </td>
            </tr>
            <tr>
              <td> 2 </td>
              <td> Jansen </td>
            </tr>
            <tr>
              <td> 3 </td>
              <td> Lauren </td>
            </tr>
        </table>
      </div>
    </div>
</div>
<!-- /.container -->

    <!--
    <div class="col-lg-6 top-lists">
      <h2 class="text-primary"> Top entities </h2> 
      <ol>
        <li> Dumont </li>
        <li> Kristof </li> 
        <li> Fette Sau </li>  
      </ol>
    </div>     
    -->
    <!--
    <div class="col-lg-6 top-lists pull-right">
      <h2 class="text-primary"> Top waiters </h2> 
      <ol>
        <li> David </li>
        <li> Lauren </li> 
        <li> Jansen </li>  
      </ol>
    </div> 
    -->
